.tableWrapper {
  border: 1px solid #FFC482;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.blokced {
    color: #818181;
}

.table th {
  color: black;
  background-color: #FFF3E6;
  text-align: left;
  padding: 19px;
  font-weight: 500;
  font-size: 20px;
  border-right: 1px solid #FFC482;
  border-bottom: 1px solid #FFC482;
}

.table th:last-child {
  border-right: none;
}

.table td {
  padding: 18px 20px;
  border-bottom: 1px solid #FFC482;
  border-right: 1px solid #FFC482;
  font-size: 16px;
}

.table td:last-child {
  border-right: none;
}

.dvActions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.editBtn, .deleteBtn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: 0.2s;
}

.editBtn { color: #FF8600; background: #FFF3E6; }

.editBtn:hover {
    color: #758BFD; background: #D9DEFF;
}
.deleteBtn { color: #F0F1FF; background: #323339; }