:root {
  --sans: 'Raleway', sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: var(--sans);
}