/.idea/dataSources/7f938c27-5e65-443c-9c51-5df415a6c185.xml
/.idea/dataSources/data_sources_history.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dbnavigator.xml
/.idea/git_toolbox_prj.xml
/.idea/dataSources/7f938c27-5e65-443c-9c51-5df415a6c185/storage_v2/_src_/database/neondb.1Hh4wQ/schema/information_schema.FNRwLQ.meta
/.idea/misc.xml
/.idea/dataSources/7f938c27-5e65-443c-9c51-5df415a6c185/storage_v2/_src_/database/neondb.1Hh4wQ.meta
/.idea/dataSources/7f938c27-5e65-443c-9c51-5df415a6c185/storage_v2/_src_/database/neondb.1Hh4wQ/schema/pg_catalog.0S1ZNQ.meta
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/dataSources/7f938c27-5e65-443c-9c51-5df415a6c185/storage_v2/_src_/database/neondb.1Hh4wQ/schema/public.abK9xQ.meta
/.idea/UniTeam.iml
/.idea/vcs.xml
/.idea/workspace.xml
