.formWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-bottom: 20px;
}

.label {
  font-size: 20px;
  font-weight: 500;
  color: #323339;
}

.select {
  width: 100%;
  padding: 16px 24px;
  border: 1px solid #A5B0C4;
  border-radius: 16px;
  font-size: 16px;
  color: #323339;
  background-color: white;
  appearance: none; 
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 16px;
  cursor: pointer;
  outline: none;
}

.select:focus {
  border-color: #75BDFF;
}