.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(48, 49, 58, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(8px);
}

.modal {
  font-family: "Raleway", sans-serif;
  background: white;
  width: 90%;
  max-width: 640px;
  padding: 60px 40px;
  border-radius: 60px; 
  position: relative;
  box-shadow: 0 30px 100px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  background: #ff5252;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.closeBtn:hover {
  transform: scale(1.1);
  background-color: #ff1744;
}

.iconContainer {
  margin-bottom: 40px;
}

.mainIcon {
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.title {
  font-size: 32px;
  font-weight: 800;
  color: #30313a;
  margin-bottom: 16px;
}

.description {
  font-size: 18px;
  color: #6f707a;
  margin-bottom: 40px;
  line-height: 1.5;
}

.btnContainer {
  width: 100%;
  max-width: 240px;
  background-color: #30313a;
  padding: 18px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}

.btnContainer:hover {
  background-color: #111111;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.linkBtn {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}
